@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

html,
body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
}

body {
  height: 100vh;
  --white: #f1f3f4;
  --black: #181b1d;
  --primary-color: #2b2d42;
  --secondary-color: #2b4240;
  --error: #ff7272;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
