@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

html,
body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
}

body {
  height: 100vh;
  --white: #dce5e9;
  --white-shade: #91979b;
  --white-dark: #777c80;
  --black: #181b1d;
  --primary-color: #232536;
  --primary-shade: #1c1e2b;
  --primary-dark: #151822;
  --secondary-color: #2b4240;
  --error: #ff7272;
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  border: none;
  outline: none;
}

#__next {
  height: 100%;
}
